{% extends 'base.html' %}

{% block title %}
Welcome to the Style
{% endblock title %}

{% block content %}
div.wrapper>div.toolbar>h4{Test App}+a{Home}+a{Sign in}^div.welcome>h2{Welcome to the Test}+p{We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!}+button>a{Start}^^div.cards>div.card1>h4{Manage Users}+p{Using this application, you'll learn how to add, remove, and edit users for the application}^div.card2>h4{Leave messages}+p{Users will be able to leave a message to another user using this application}^div.card3>h4{Edit User Information}+p{Admins will be able to edit another user's information (email address, first name, last name, etc.)}
<!-- tab that shit -->
{% endblock content %}
