{% extends 'base.html' %}

{% block title %}
Welcome to the Style
{% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="toolbar">
        <h5>Test App</h5>
        <a href="{% url 'dash_admin' %}">Dashboard</a>
        <a href="{% url 'user_edit' %}">Profile</a>
        <a href="{% url 'logout' %}">Log off</a>
    </div>
    <h4>Add a new user</h4>
    <form action="{% url 'validate' %}" class="input_fields" method = "post">
        {% csrf_token %}
        <p>Email Address:</p>
        <input type="email" name = "email">
        <p>First Name</p>
        <input type="text" name = "first_name">
        <p>Last Name</p>
        <input type="text" name = "last_name">
        <p>Password:</p>
        <input type="password" name = "password">
        <p>Password Confirmation</p>
        <input type="text" name = "cPassword">
        <input type="submit" value = 'Create'>
        <input type="hidden" name = "lrform" value = "register">
    </form>
{% endblock content %}
