{% extends 'base.html' %}

{% block title %}
Welcome to the Style
{% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="toolbar">
        <h5>Test App</h5>
        <a href="{% url 'dash_index' %}">Home</a>
        <a href="{% url 'dash_signin' %}">Sign in</a>
    </div>
    <h3>Register</h3>
    <form action="{% url 'validate' %}" class="input_fields" method = "post">
        {% csrf_token %}
        <p>Email Address:</p>
        <input type="email" name = "email">
        <p>First Name</p>
        <input type="text" name = "first_name">
        <p>Last Name</p>
        <input type="text" name = "last_name">
        <p>Password:</p>
        <input type="password" name = "password">
        <p>Password Confirmation</p>
        <input type="password" name = "cPassword">
        <input type="submit" value = "Register">
        <input type="hidden" name = "register">
    </form>
    <a href="{% url 'dash_signin' %}">Already have an account? Login</a>
</div>
{% endblock content %}
