{% extends 'base.html' %}

{% block title %}
Welcome to the Style
{% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="toolbar">
        <h5>Test App</h5>
        <a href="{% url 'dash_index' %}">Home</a>
        <a href="{% url 'dash_signin' %}">Sign in</a>
    </div>
    <h3>Signin</h3>
    <form action="{% url 'validate' %}" class="input_fields" method = "post">
        {% csrf_token %}
        <p>Email Address:</p>
        <input type="email" name = "email">
        <p>Password:</p>
        <input type="password" name = "password">
        <input type="submit" value = "login">
    </form>
    <a href="{% url 'dash_register' %}">Don't have an account? Register here!</a>
</div>
{% endblock content %}
